TASKS_SERVICE_URL=http://localhost:3330/api/tasks
COMMENTS_SERVICE_URL=http://localhost:3340/api/comments
USERS_SERVICE_URL=http://localhost:3350/api/user
NOTIFY_SERVICE_URL=http://localhost:3360/api

PORT=3370
